<div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
  <div
    class="flex-1 flex max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800"
  >
    <div class="flex flex-col overflow-y-auto md:flex-row">
      <div class="h-32 md:h-auto md:w-1/2">
        <img
          aria-hidden="true"
          class="hidden object-cover w-full h-full dark:block"
          src="../assets/img/create-account-office-dark.jpeg"
          alt="Office"
        />
      </div>

      <div
        class="flex items-center justify-center p-6 sm:p-12 md:w-1/2 flex-grow"
      >
        <div class="w-full">
          <h1
            class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200"
          >
            Create account
          </h1>
          <div [formGroup]="form">
            <h3
              class="mb-4 text-center text-lg font-semibold text-gray-700 dark:text-gray-200"
            >
              Step 2 of 3
            </h3>
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400"> Job Title </span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                type="text"
                formControlName="jobTitle"
              />
            </label>
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400"> Bio </span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                type="text"
                formControlName="bio"
              />
            </label>
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400"> Website </span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                type="text"
                formControlName="website"
              />
            </label>
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400"> LinkedIn </span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                type="text"
                formControlName="linkedIn"
              />
            </label>
            <div class="flex flex-row gap-3">
              <label class="mt-4 text-sm" for="country">
                <span class="text-gray-700 dark:text-gray-400"> Country </span>
                <div class="flex flex-row">
                  <select
                    formControlName="countryId"
                    name="country"
                    id="country"
                    (change)="onSelectCountry(form.value.countryId)"
                    class="mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                  >
                    <option
                      *ngFor="let country of countries"
                      [value]="country.id"
                    >
                      {{ country.name }}
                    </option>
                  </select>
                </div>
              </label>
              <label class="w-full mt-4 text-sm" for="cities">
                <span class="text-gray-700 dark:text-gray-400"> City </span>
                <div class="flex flex-row">
                  <select
                    id="cities"
                    name="cities"
                    formControlName="cityId"
                    (change)="onSelectCity(form.value.cityId)"
                    class="w-full block mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                  >
                    <option *ngFor="let city of cities" [value]="city.id">
                      {{ city.name }}
                    </option>
                  </select>
                </div>
              </label>
              <label class="w-full mt-4 text-sm" for="areas">
                <span class="text-gray-700 dark:text-gray-400"> Area </span>
                <div class="flex flex-row">
                  <select
                    formControlName="areaId"
                    id="areas"
                    name="areas"
                    class="w-full block mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                  >
                    <option *ngFor="let area of areas" [value]="area.id">
                      {{ area.name }}
                    </option>
                  </select>
                </div>
              </label>
            </div>

            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400"> Address </span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                type="text"
                formControlName="address"
              />
            </label>
            <hr class="my-8" />
            <div>
              <div class="flex flex-row gap-2">
                <button
                  routerLink="/register"
                  class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                >
                  Back
                </button>
                <button
                  routerLink="/register/step-three"
                  class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                >
                  Next
                </button>
              </div>
              <p class="mt-4">
                <a
                  class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline"
                  href="./login.html"
                >
                  Already have an account? Login
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
