<div
  class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
>
  <span class="flex items-center col-span-3">
    Showing
    {{ data.index === 0 ? 1 : (data.index + 1) * data.size - data.size + 1 }}
    -
    {{
      data.index === 0
        ? data.size
        : (data.index + 1) * data.size - data.size + data.items.length
    }}
    of
    {{ data.totalItems }}
  </span>
  <span class="col-span-2"></span>
  <!-- Pagination -->
  <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
    <nav aria-label="Table navigation">
      <ul class="inline-flex items-center">
        <li>
          <button
            class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
            (click)="prevPage()"
            [disabled]="!data.hasPrevious"
          >
            <svg
              class="w-4 h-4 fill-current"
              aria-hidden="true"
              viewBox="0 0 20 20"
            >
              <path
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"
              ></path>
            </svg>
          </button>
        </li>
        <!--   pages numbers    -->
        <ng-container *ngFor="let page of pages">
          <li>
            <button
              class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
              [class.bg-purple-500]="page === data.index + 1"
              [class.text-white]="page === data.index + 1"
              (click)="changePage(page)"
            >
              {{ page }}
            </button>
          </li>
        </ng-container>
        <!--  Next arrow -->
        <li>
          <button
            class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
            (click)="nextPage()"
            [disabled]="!data.hasNext"
          >
            <svg
              class="w-4 h-4 fill-current"
              aria-hidden="true"
              viewBox="0 0 20 20"
            >
              <path
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"
              ></path>
            </svg>
          </button>
        </li>
      </ul>
    </nav>
  </span>
</div>
